<div class="container">
    <div class="row">
        <h1 class="text-center">{{App.config.appName}}</h1>
    </div>

    <div class="row">
        <form class="form" role="search" action="javascript://void(0);" {{action "search"}}>
            <div class="input-group">
                {{search-input valueBinding="controller.query.q" placeholder="Type your search query ..."}}

                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        {{#each controller.results}}
            <hr/>
            <div>
            {{#with value.data}}
                <div><strong>{{name}}</strong></div>
                <div>{{description}}</div>
                <div>
                    <span>{{address.street}}, {{address.city}}</span>
                </div>
                <div>{{createdAt}}<span>{{datetime createdAt}}</span></div>
            {{/with}}
            </div>
        {{/each}}
    </div>
</div>

